<nav class="navbar navbar-expand-lg bg-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Test Test</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" ariaCurrentWhenActive="page" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CV</a>
        </li>
        <li class="nav-item form-check form-switch ps-0">
          <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
            <div class="flag-icon-usa flag-icon-squared me-2"></div>
            <div class="form-check form-switch">
              <input
                class="form-check-input custom-switch"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
                [(ngModel)]="this.isSPanish"
                (change)="onLangSwitchChange()"
              />
            </div>
            <div class="flag-icon-mex flag-icon-squared ms-2"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
