.container-fluid {
  /* Estilos generales, aplican para todos los dispositivos */
  width: 100%;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .container-fluid {
    height: fit-content;
  }
}

/* Media query para dispositivos de escritorio */
@media (min-width: 769px) {
  .container-fluid {
    height: 100vh;
  }
}
