<div class="container-fluid bg-body d-flex flex-column pt-3 context" data-bs-theme="dark">
  <div class="vh-100 d-flex flex-column">
    <img class="mx-auto rounded-circle" style="width: 100px" src="https://cdn2.f-cdn.com/contestentries/1440473/30778261/5bdd02db9ff4c_thumb900.jpg">
    <h1 class="mt-5 text-center">Test test</h1>
    <h4 class="mt-5 text-center">{{'profile.subtitle' | translate}}</h4>
    <div class="d-inline-flex mt-5 pb-5 m-auto">
      <!-- GitHub -->
      <a href="https://github.com" target="_blank" class="me-3">
        <i class="fab fa-github fa-xl"></i>
      </a>

      <!-- Discord -->
      <a href="https://discord.com" target="_blank" class="me-3">
        <i class="fab fa-discord fa-xl"></i>
      </a>

      <!-- Steam -->
      <a href="https://store.steampowered.com" target="_blank" class="me-3">
        <i class="fab fa-steam fa-xl"></i>
      </a>

      <!-- Instagram -->
      <a href="https://www.instagram.com" target="_blank" class="me-3">
        <i class="fab fa-instagram fa-xl"></i>
      </a>

      <!-- Gmail -->
      <a href="mailto:your_email@gmail.com" class="me-3">
        <i class="fas fa-envelope fa-xl"></i>
      </a>
    </div>
  </div>

  <div class="container-fluid py-5 greeting">
    <div class="container-fluid d-flex flex-column w-75">
      <h4 class="fw-bold">Hey!</h4>
      <h4 class="mt-4 fw-normal">{{'profile.fact1' | translate}}</h4>
      <h4 class="fw-normal">{{'profile.fact2' | translate}}</h4>
      <h4 class="fw-normal">{{'profile.fact3' | translate}}</h4>
    </div>
  </div>

  <div class="container-fluid py-5 bg-body">
    <h2 class="text-center">{{'profile.portfolio' | translate}}</h2>
  </div>
</div>

<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div >
