

.context {
    width: 100%;
    position: absolute;
    color: white;
    padding: 0;
}

.greeting {
  background-color: white;
  color: black;
}

.greeting-content {
  /* width: 80%; */
}

.context h1{
    text-align: center;
    /* color: #fff; */
    font-size: 50px;
}

a{
  text-decoration: none;
  color: white;
}

