<div class="d-flex flex-column w-75 mx-auto mt-5" style="padding-bottom: 150px;">
  <h4 class="fw-bold text-center">{{'timeline.title' | translate}}</h4>

  <section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <!-- <div class="cd-timeline-img cd-picture">
      </div> -->

      <div class="cd-timeline-content">
        <h2>{{'timeline.date1.title'  | translate}}</h2>
        <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{'timeline.date1.jobTitle' | translate}}
          </span>
          <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            {{'months.april' | translate}} 2024 - {{'time.present' | translate}}
          </span>
        </div>
        <p>{{'timeline.date1.description' | translate}}</p>
        <ul class="content-skills">
        <li>Laravel</li>
        <li>MySQL</li>
        <li>JQuery</li>
        <li>Javascript</li>
        </ul>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
      <!-- <div class="cd-timeline-img cd-picture">
      </div> -->

      <div class="cd-timeline-content">
        <h2>{{'timeline.date2.title'  | translate}}</h2>
        <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{'timeline.date2.jobTitle' | translate}}
          </span>
          <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            {{'months.jan' | translate}} 2024 - {{'months.april' | translate}} 2024
          </span>
        </div>
        <p>{{'timeline.date2.description' | translate}}</p>
        <ul class="content-skills">
        <li>Laravel</li>
        <li>MySQL</li>
        <li>JQuery</li>
        <li>Javascript</li>
        </ul>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <!-- <div class="cd-timeline-img cd-picture">
      </div> -->

      <div class="cd-timeline-content">
        <h2>{{'timeline.date3.title' | translate}}</h2>
        <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{'timeline.date3.jobTitle' | translate}}
          </span>
          <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            {{'months.sept' | translate}} 2024 - {{'months.jan' | translate}} 2024
          </span>
        </div>
        <p>{{'timeline.date3.description' | translate}}</p>
        <ul class="content-skills">
        <li>Laravel</li>
        <li>MySQL</li>
        <li>JQuery</li>
        <li>Javascript</li>
        <li>GIT</li>
        <li>Jira</li>
        </ul>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

  </section> <!-- cd-timeline -->
</div>
